.bg-white-general{
	background:#ffffff;
	.banner-header{		
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.bg-header{
		background: #cb2227;
		display: inline-block;
		width: 100%;
		@media(max-width: 992px){
			display: none;
		}
	}
	.bg-related-product{	
		padding-left: 0;
		list-style: none;
		margin-bottom: 0;
		margin-top: 5px;
		@media(max-width: 992px){
			display: none;
		}
		li{
			display: inline-block;
			a{
				padding: 5px 5px;
				text-transform: uppercase;
				color: $mau_1;
				font-size: 14px;
				&:hover{
					background:$mau_1;
					color: #ffffff;
				}
				@media(max-width: 1024px){
					font-size: 11px;
				}
			}
		}
	}
	.breadcrumb-bg{
		background: #f5f5f5;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 10px;
	}
	.header-bg-mobile{
		position: relative;
		display: none;		
		background-color: #ffffff;
		@media(max-width: 992px){
			display: block;
		}
		.mobile-navbar{
			position: absolute;
			top:0px;
			left: 0;
			width: 100%;
			z-index: 2;
			.mobile-menu{
				padding-left:0;
				list-style: none;
				margin-bottom: 0;
				li{
					a{
						display: block;
						padding-top:10px;
						padding-bottom:10px;
						padding-left: 20px;
						padding-right: 20px;
						color: #ffffff;
						border-bottom:1px solid rgba(255,255,255,0.1) !important;
						text-transform: uppercase;
						background: #cb2227;
						&:hover{
							background:#e73b3b;
						}
					}
					&:last-child{
						a{
							border-bottom:0;
						}
					}
				}
			}
		}
	}
}
.body-bg{
	background: #ffffff;
	padding-left: 30px;
	padding-right: 30px;
	padding-top:30px;
	.owl-carousel-banner{
		div{
			&.owl-prev{
				background: $mau_1;
				font-size: 15px;
				color: #ffffff;
				position: absolute;
				left:10px;
				top:10px;
				border-radius: 0;
				padding-left: 15px;
				padding-right: 17px;
				padding-top: 8px;
				padding-bottom: 8px;
				&:hover{
					background:#000;
				}
			}
			&.owl-next{
				background:$mau_1;
				font-size: 15px;
				color: #ffffff;
				position: absolute;
				left: 55px;
				top: 10px;
				border-radius: 0;
				padding-left: 15px;
				padding-right: 17px;
				padding-top: 8px;
				padding-bottom: 8px;
				&:hover{
					background:#000;
				}
			}
		}
		.banner-title-excerption{			
			background: #000;
			border-top: 10px solid $mau_1;
			padding-left:15px;
			padding-right:15px;
			padding-bottom:15px;
			.banner-title{
				margin-bottom: 0;
				margin-top: 0;
				a{
					color: #ffffff;
					font-size: 20px;
					font-family: $f_regular6;
				}				
			}
			.banner-excerption{
				color: #ffffff;
				font-size: 14px;
				font-family: $f_regular6;
			}
		}
		.banner-line{
			border-top:1px solid #ffffff;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.circle-wrapper{
		padding-top:25px;
		.category-frontend{
			width: 100%;
			margin-bottom: 30px;
			.category-frontend-halo{
				background:#000;
				.category-frontend-title-left{
					float: left;					
					background: $mau_1;
					padding: 5px 5px;
					a{
						color: #ffffff;
						font-size: 16px;
						font-weight: bold;
						&:hover{
							text-decoration: underline;
						}
					}
				}				
			}	
			.title-category-frontend{
				line-height: 15px;
				a{
					color: #333333;
					font-size: 14px;
					&:hover{
						color:$mau_1;
					}
				}
			}
			.category-frontend-readmore{
				margin-top: 15px;
				a{
					float: right;
					background: $mau_1;
					color: #ffffff;
					padding-top:5px;
					padding-bottom:5px;
					padding-left:10px;
					padding-right:10px;
					&:hover{
						background:#333333;
					}
				}
			}		
		}
	}
	.tham-gia-thiet-ke{
		background:$mau_1;
		color: #ffffff;
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
		padding-left: 10px;
		padding-right: 10px;
	}	
	.f-category-left{
		width: 200px;
		float: left;		
		@media(max-width: 1024px){
			width: 150px;
		}
		@media(max-width: 375px){
			width: 100%;
		}
		.ranet{
			text-align: center;
			margin-top: 30px;
			a{
				color: $mau_1;
				font-weight: bold;
				font-size: 15px;
				&:hover{
					color: $mau;
				}
			}
		}
	}
	.f-category-right{
		float: left;
		width: 235px;
		margin-left: 10px;
		@media(max-width: 1024px){
			width: 200px;
		}
		@media(max-width: 576px){
			width: 150px;
		}
		@media(max-width: 375px){
			width: 100%;
		}
		.y-kien{
			line-height: 20px;
			a{
				font-size: 16px;
				font-weight: bold;
			}
		}
		.lp-comment{
			background-color: #f1f1f1;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 25px;
			padding-left: 10px;
			padding-right: 10px;
			a{
				color: $mau_1;
				font-size: 15px;
				font-style: italic;
				font-weight: bold;
				&:hover{
					color: $mau;
				}
			}
		}
	}	
	.bao-gia{
		margin-bottom: 15px;
		&:first-child{
			@media(max-width: 740px){
				margin-top: 30px;
			}			
		}
		@media(max-width: 320px){
			margin-bottom: 30px;
		}
		.bao-gia-left{
			float: left;
			width: 85px;
			@media(max-width: 1024px){
				width: 75px;
			}
			@media(max-width: 740px){
				width: 150px;
			}
			@media(max-width: 576px){
				width: 100px;
			}
			@media(max-width: 320px){
				width: 100%;
			}
		}
		.bao-gia-right{
			float: left;
			width: 100px;
			margin-left: 10px;
			@media(max-width: 1024px){
				width:75px;
			}
			@media(max-width: 740px){
				width:285px;
			}
			@media(max-width: 576px){
				width: 210px;
			}
			@media(max-width: 375px){
				width: 170px;
			}
			@media(max-width: 360px){
				width: 160px;
			}
			@media(max-width: 320px){
				width: 100%;
				margin-left: 0;
			}
			.nam-nay{
				line-height: 15px;						
				a{
					color: $mau;
					font-size: 13px;
					@media(max-width: 740px){
						font-size: 15px;
					}
					&:hover{
						color: $mau_1;
					}
				}
			}
		}
	}
	.mau-nha{
		margin-bottom: 30px;
		@media(max-width: 320px){
			margin-bottom: 50px;
		}
		.mau-nha-left{
			float: left;
			width: 100px;
			@media(max-width: 1024px){
				width: 80px;
			}
			@media(max-width: 740px){
				width: 100px;
			}
			@media(max-width: 320px){
				width: 100%;
			}
		}
		.mau-nha-right{
			float: left;
			width: 210px;
			margin-left: 10px;
			@media(max-width: 1024px){
				width: 165px;
			}
			@media(max-width: 740px){
				width: 340px;
			}
			@media(max-width: 576px){
				width: 210px;
			}
			@media(max-width: 375px){
				width: 170px;
			}
			@media(max-width: 360px){
				width: 160px;
			}
			@media(max-width: 320px){
				width: 100%;
				margin-left: 0;
			}
			.mau-nha-right-title{
				line-height: 15px;
				a{
					color: $mau;
					font-size: 14px;
					&:hover{
						color: $mau_1;
					}
				}
			}
			.readmore{
				margin-top: 5px;
				@media(max-width: 740px){
					margin-top: 15px;
				}
				a{
					display: inline-block;
					background-color:$mau_1;
					color: #ffffff;
					padding-top:5px;
					padding-bottom:5px;
					padding-left:10px;
					padding-right:10px;
					&:hover{
						background-color:$mau;						
					}
				}
			}
		}
	}
	.total-right{
		.h-total-right{
			background-color:$mau;
			.h-total-right-tieu-de{
				float: left;
				background: #E84747;
				padding: 5px 25px;
				color: #fff;
				font-size: 20px;
			}
		}
		.frm-search-article{
			.frm-search-left{
				float: left;
				.input-box{
					border: 1px solid #ddd;
					width: 270px;
					padding-top: 5px;
					padding-bottom: 5px;
					outline: 0;
					padding-left:5px;
				}
			}
			.frm-search-right{
				float: left;
				a{
					display:inline-block;
					background-color:$mau_1;
					color: #ffffff;
					padding-top: 5px;
					padding-bottom: 5px;
					padding-left: 15px;
					padding-right: 15px;
					font-size: 15px;
				}
			}			
		}
	}
	.maradies{
		margin-top:70px;
	}
	.videos-block{
		margin-top: 35px;
	}
	.mau-thiet-ke-block{
		margin-top: 35px;
		.bo-mau-thiet-ke{
			.roda-mau-thiet-ke{
				margin-bottom: 20px;
				.mau-thiet-ke-left{
					float: left;
					width: 100px;
				}
				.mau-thiet-ke-right{
					float: left;
					width: 220px;
					margin-left: 10px;
					line-height: 16px;
					a{
						color: $mau;
						font-size: 15px;
						font-weight: bold;
						&:hover{
							color: $mau_1;
						}
					}
				}
			}			
		}
	}
}
